.tasks-page_wrapper {
    position: relative;

    margin: 20px 0 0 0;
    min-height: 460px;
}


@media screen and (min-width: 480px) and (orientation: landscape) {
    .tasks-page_wrapper {
        margin: 20px 0 100px 0;
    }
}

/* .tasks_button-add,
.sort-by_container {
    display: inline-block;
} */

/* .tasks_button-add {
    margin: 20px 0 0 0 !important;
    width: 50px !important;
    height: 50px !important;
} */