.information-page_content {
    max-width: 650px;

    margin: 50px auto 0 auto;

    line-height: 1.6;
}

.information-page_content h2 {
    margin: 0;
    
    font-size: 6rem;
}

.information-page_content h3 {
    margin: 0;

    font-size: 2rem;
}

.information-page_content p {
    margin: 0 0 20px 0;
}

.information-page_content .advice {
    max-width: 400px;

    margin: 0 auto;

    text-align: center;
}

.information-page_content .information-page_button {
    margin: 20px 0 0 0;
}