@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('./fonts/Roboto/Roboto-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('./fonts/Roboto/Roboto-Medium.ttf') format('truetype');
}



body {
    margin: 0;
    padding: 0;

    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-weight: 300;
    line-height: 1.4em;
    
    font-family: sans-serif;
    text-align: center;

    background: hsla(0, 0%, 93%, 1);
    /* background: hsla(0, 0%, 87%, 1); */
    /* background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAKklEQVQYV2N89+7dfwYouHfvHgMjTADEUVJSggjAOCCFjGfOnPkPkoEBALUJF8Mcc0jAAAAAAElFTkSuQmCC) repeat; */
}

#main {
    display: grid;
    
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;

    overflow-x: hidden;

    text-align: center;
}