.tasks_wrapper {
    display: grid;

    margin: 20px 0 0 0;
    
    justify-content: center;
}

.tasks_wrapper.active {
    margin: 20px 0 120px 0;
}

.tasks_wrapper.active nav {
    bottom: -60px;
}



.separation-pagination {
    position: absolute;
    
    width: 100%;

    bottom: 0;
    left: 50%;

    transform: translateX(-50%) rotate(0deg);
    transition: bottom 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.separation-pagination ul {
    list-style-type: none;

    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
}

.separation-pagination ul li {
    display: inline-block;

    margin: 0 5px;
}

.separation-pagination ul li button {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
                color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
                box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
                border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

/* .separation-pagination ul li:first-child {
    margin: 0 5px 0 0;
}

.separation-pagination ul li:last-child {
    margin: 0 0 0 5px;
} */