.tasks_task-expansion-panel {
    min-width: 100vw;
    width: 100vw;
    max-width: 100vw;
}

@media screen and (min-width: 480px) and (orientation: landscape) {
    .tasks_task-expansion-panel {
        min-width: 480px;
        width: 480px;
        max-width: 480px;
    }
}

@media screen and (min-width : 768px) {
    .tasks_task-expansion-panel {
        min-width: 500px;
        width: 500px;
        max-width: 500px;
    }
}


.tasks_task-title,
.tasks_task-delete-icon,
.tasks_task-checkbox {
    position: absolute !important;

    top: 24px;

    transform: translateY(-50%) rotate(0deg);
    transition: top 150ms cubic-bezier(0.4, 0, 0.2, 1) !important;
}

.tasks_task-title.expanded,
.tasks_task-delete-icon.expanded,
.tasks_task-checkbox.expanded {
    top: 32px;
}

.tasks_task-delete-icon {
    right: 110px;
}

.tasks_task-checkbox {
    right: 50px;
}

.tasks_task-title {
    left: 24px;
}


.tasks_task-title.completed {
    text-decoration: line-through;
}

.tasks_task-delete-icon {
    cursor: pointer;
}