.sign-in_container,
.sign-up_container {
    display: grid;

    width: 100vw;
    height: 70vh;
    max-width: 100vw;
    max-height: 100vh;
}

.sign-form_container {
    display: grid;
    justify-self: center;
    align-self: center;
}

.sign-form_text-field {
    width: 200px;
}

.sign-form_submit-button {
    margin-top: 20px !important;
}

.sign-form_error-text {
    font-family: 'Roboto';
    font-size: .9em;
}