.custom-app-bar_container {
    text-align: center;
}


.custom-app-bar_toolbar {
    width: 100%;
    max-width: 100vw;

    margin: 0 auto;
}

.custom-app-bar_toolbar .custom-app-bar_toolbar_button,
.custom-app-bar_toolbar .custom-app-bar_toolbar_link {
    margin: 0 16px 0 0;
}

@media screen and (min-width: 480px) and (orientation: landscape) {
    .custom-app-bar_toolbar {
        min-width: 480px;
        width: 480px;
        max-width: 480px;
    }

    .custom-app-bar_toolbar .custom-app-bar_toolbar_button,
    .custom-app-bar_toolbar .custom-app-bar_toolbar_link {
    margin: 0 0 0 0;
    }
}

@media screen and (min-width : 768px) {
    .custom-app-bar_toolbar {
        min-width: 500px;
        width: 500px;
        max-width: 500px;
    }

    .custom-app-bar_toolbar .custom-app-bar_toolbar_button,
    .custom-app-bar_toolbar .custom-app-bar_toolbar_link {
        margin: 0 0 0 0;
    }
}


.custom-app-bar_container h2 {
    flex-grow: 1;
    
    text-align: left;
    user-select: none;
}