.delete-task_alert-dialog_buttons-wrapper {
    justify-content: center !important;
}

.delete-task_snackbar > div:nth-child(1) {
    /* min-width: 200px !important; */
    padding: 14px 24px !important;
}

.delete-task_snackbar button {
    position: absolute !important;
    
    right: 8px;
    top: 50%;

    transform: translateY(-50%) rotate(0deg);
}

.delete-task_message {
    margin: 0 140px 0 0;
}