.home_container {
    display: grid;

    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
}

.home_container h1 {
    font-weight: 400;
}

.home_container a {
    margin: 0 10px;
}