.tasks_spped-dial {
    position: absolute;
    bottom: 8px;
    right: 8px;
}


.tasks_spped-dial > div > div {
    display: flex;
}

.tasks_spped-dial.not-active > div > div {
    display: none;
}


@media screen and (min-width : 375px) {
    .tasks_spped-dial {
        bottom: 16px;
        right: 16px;
    }
}

@media screen and (min-width : 768px) {
    .tasks_spped-dial {
        bottom: 24px;
        right: 32px;
    }
}